#main-toolbar #activity-button {
  background-image: url(../activity/activity-icon.svg);
}

#main-toolbar #add-button {
  background-image: url(../icons/add.svg);
}

.pawn {
  background-image: url(../icons/pawn-icon.svg);
  display: inline-block;
  width: 65px;
  height: 65px;
}
